<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<div class="container">
<h1>Lego Shop </h1>
<h2>Made by Hsonn</h2> 
        <img src="https://i.postimg.cc/MGkZWmX4/legobackg.jpg" alt="Logo Lego Shop" width="" height="" >
		<nav class="hi">
		<ul class="navbar-name">
			<li class="navbar-item"><a href="">Shop</a>
			</li>
			<li class="navbar-item"><a href="">Discover</a>
			</li>
			<li class="navbar-item"><a href="">Help</a>
			</li>
			<li class="navbar-item"><a href="">News</a></li>
			<li class="navbar-item"><a href="">About</a></li>
			<li class="navbar-item"><a href="">Login</a></li>
            <br><br>
             <form>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
             </form>
		</ul>
		</nav>
<table class="styleTable" border="3">
    <tr>
        <th class="name"> <h1>Name of Product </h1></th> 
        <th class="id"><h1>Price</h1></th>
        <th class="name"><h1>Description</h1></th>
        <th class="name"><h1>Category</h1></th>
        <th class="name"><h1>Option</h1></th>
        
    </tr>
    {{#each products}}
    <tr>
        <td class="name">{{name}}</td>
        <td class="id">{{price}}</td>
        <td class="name">{{description}}</td>
         <td class="name">{{category}}</td>
        <td class="btn">
        <a class="btn_index" href="/delete?id={{_id}}"><input type="submit" id="btn" value="Delete"></a>
        <a class="btn_index" href="insert"><input type="submit" id="btn" value="Add"></a> 
        </td> 
    </tr>  
        {{/each}}
</table>
</div>
</body>
<footer>
	<nav>
		<ul>
			<li ><a href="">About Us</a></li> 
			<li ><a href="">Contact</a></li>
			<li ><a href="">Feedback</a></li>
		</ul>
	</nav>
	<p id="copyright">©2021 The LEGO Group. All rights reserved.</p>
<footer>
</html>


